html {
  box-sizing: border-box;
  font-family: "TT Lakes Thin";
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  list-style: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}
p {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  background-color: #c4c4c4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.wrapper {
  font-family: Roboto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.wrapper__menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 250px;
}

.menu {
  position: absolute;
  top: 60px;
  display: none;
}

.show_menu {
  display: block;
}

.input {
  background-color: #fff;
  width: 500px;
  height: 61px;
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.menu-item {
  width: 500px;
  height: 44px;
  border: 2px solid #000;
  background-color: #e3e3e3;
  padding-left: 10px;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #65cdf9;
}

.list-item {
  height: 101px;
  border: 1px solid #000;
  background-color: #e27beb;
  margin: 0;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
  position: relative;
  cursor: pointer;
}

.list-item-none {
  display: none;
}

.wrapper-list-item {
  display: none;
}

.wrapper-list-item-show {
  display: block;
  position: relative;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 5px;
  font-family: Roboto;
}

.close {
  display: flex;
  justify-content: flex-end;
  width: 60px;
  height: 38.5px;
  position: relative;
  right: 30px;
  cursor: pointer;
}

.close2 {
  transform: scaleY(-1);
  position: absolute;
}

.close1 {
  position: absolute;
}
